# Environment & Secrets
.env
.env.local
.env.*.local
*.env

# Node & Dependencies
node_modules/
dist/
build/
.npm/
.venv/

# Database files
*.sqlite
*.sqlite3
*.db
afterme.db

# Expo & Mobile
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS Files
.DS_Store
Thumbs.db
